@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1rem;
}
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    padding: 1.5rem;
}
.navbar-nav > .active > a {
    color: #EA5D2A !important;
}
@media only screen and (max-width: 992px) {
    #rescon-hero{
        text-align: center;
    }
}

button.outline {
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 3;
    background: transparent;
    color: #1172c4;
    font-size: 14px;
    border-color: #1172c4;
    border-style: solid;
    border-width: 2px;
    border-radius: 22px;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all 0.2s linear;
}
button.outline a {
    text-decoration: none;
  }
  button.outline:hover {
    color: white;
    background: #1172c4;
    border-color: white;
    transition: all 0.2s linear;
  }
  button.outline:active {
    border-radius: 22px;
}
button.green-white {
    font-weight: 700;
    color: #E95C20;
    border-color: #E95C20;
    background: transparent;
  }
button.green-white:hover {
    color: white;
    background: #E95C20;
    border-color: #E95C20;
}
.buttons {
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

/* Footer Styles */
img {
max-width: 100%;
height: auto;
}
section {
    padding: 60px 0;
   /* min-height: 100vh;*/
}
.footer {
background: linear-gradient(105deg,#EF822A ,#F84B86);
padding-top: 25px;
padding-bottom: 25px;
}
